### Daniels kod för keith galli's pandas data science youtube film

#### Sales analysis

##### Import libraries

In [6]:
import pandas as pd
import os

In [23]:
df = pd.read_csv("./SalesAnalysis/Sales_Data/Sales_April_2019.csv")

files = [file for file in os.listdir('./SalesAnalysis/Sales_Data')]

all_months_data = pd.DataFrame()


for file in files:
    df = pd.read_csv("./SalesAnalysis/Sales_Data/"+file) #reads into dataframe
    all_months_data = pd.concat([all_months_data, df]) # varför square bracket?
    
#all_months_data.head()
all_months_data.to_csv("all_data.csv", index=False) # utan index=False blir det en tom fil, varför?

##### Read in updated dataframe containg all data

In [24]:
all_data = pd.read_csv("all_data.csv")
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

#### Cleaning data, getting rid of nan's
##### Are there any nan's? Counting them.

In [32]:
all_data.isnull().values.any() # identifierar om det finns nan's i hela dataframen

True

In [33]:
all_data.isnull().sum().sum() # räknar antalet nan's i hela dataframen

3815

#### Drop rows of nan's

In [35]:
nan_df = all_data[all_data.isna().any(axis=1)] #Satckoverflow https://stackoverflow.com/questions/43424199/display-rows-with-one-or-more-nan-values-in-pandas-dataframe
nan_df.head(10)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,NaN,NaN,NaN,NaN,NaN,NaN,NaN
735,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1433,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1553,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1571,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2265,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2798,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3024,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Daniels egna försök att ta bort rader med nan's

In [40]:
all_data = all_data.dropna()
all_data.isnull().sum().sum() # räknar antalet nan's i hela dataframen

0

#### Adding a month column to data frame

In [41]:
all_data['Month'] = all_data['Order Date'].str[0:2]
all_data['Month'] = all_data['Month'].astype('int32')
all_data.head()

ValueError: invalid literal for int() with base 10: 'Or'

#### Which month was best wrt sales value? How much was earned?